/*CSS for the index page*/
@font-face { 
  font-family: Bellerose; 
  font-style: normal;
  font-weight: normal;
  src: url('Bellerose.ttf'); 
} 
html, body {
  margin:0;
  padding: 20px 0 0;
}
nav {
  border: 1px solid #1C1C1C;
  border-radius: 4px 4px 4px 4px;
  height: 180px;
  margin: 0 auto;
  width: 92%;
}
#header{
  height: 120px;
}
#tabs{ 
border-radius: 0 0 4px 4px;
  border-top: 1px solid;
  display: block;
  height: 57px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(left, #088766 0%, #0DC796 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(left, #088766 0%, #0DC796 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(left, #088766 0%, #0DC796 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #088766), color-stop(1, #0DC796));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(left, #088766 0%, #0DC796 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to right, #088766 0%, #0DC796 100%);
  /*background-color: #088A68;*/
}
#tabs li {
     display: inline-block;
    height: 47px;
    line-height: 37px;
    margin: 3px 0 0 5px;
    text-align: center;
    width: 23.76%;
}
#tabs li>a {
  display: inline-block;
  font-size: 35px;
  font-family: Bellerose;
  height: 50px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color:#CEF6F5;
}
#tabs li>a:hover {
  border-radius:20px;
  background-color: #0B614B;
  color: #CEF6F5;
  padding-right:10px;
  padding-left: 10px;
}
#content {
    margin-top:2%;
}
footer, #left-bar, #images-canvas {
  border-color: #1C1C1C !important;
  background-color: #FFFFFF !important;
}
#images-canvas {
  height: 799px;
}
#image-unknown {
  background-color: #088766;
  height: 200px;
}
.left-bar-option {
  font-family: Bellerose;
  font-size: 22px;
}
